<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ops.server.mapper.KbFavoriteMapper">
    <select id="selectAll" resultType="com.ops.common.model.KbFavoriteModel">
        SELECT * FROM kb_favorite ORDER BY create_time DESC
    </select>
    <select id="selectById" resultType="com.ops.common.model.KbFavoriteModel">
        SELECT * FROM kb_favorite WHERE id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO kb_favorite (document_id, user_id, create_time)
        VALUES (#{documentId}, #{userId}, #{createTime})
    </insert>
    <update id="update">
        UPDATE kb_favorite SET document_id = #{documentId}, user_id = #{userId}
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM kb_favorite WHERE id = #{id}
    </delete>
    <select id="findByUserId" resultType="com.ops.common.model.KbFavoriteModel">
        SELECT * FROM kb_favorite WHERE user_id = #{userId} ORDER BY create_time DESC
    </select>
    <select id="findByDocumentIdAndUserId" resultType="com.ops.common.model.KbFavoriteModel">
        SELECT * FROM kb_favorite WHERE document_id = #{documentId} AND user_id = #{userId}
    </select>
    <delete id="deleteByDocumentIdAndUserId">
        DELETE FROM kb_favorite WHERE document_id = #{documentId} AND user_id = #{userId}
    </delete>
</mapper>
