<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ops.server.mapper.AlarmRecordMapper">
    <select id="findByFilters" resultType="com.ops.common.model.AlarmModel">
        SELECT * FROM alarm_record
        <where>
            <if test="projectId != null">
                AND (project_id = #{projectId} OR node_id = #{projectId})
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{pageSize} OFFSET (#{page} - 1) * #{pageSize}
    </select>
    <select id="countByFilters" resultType="long">
        SELECT COUNT(*) FROM alarm_record
        <where>
            <if test="projectId != null">
                AND (project_id = #{projectId} OR node_id = #{projectId})
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO alarm_record (project_id, node_id, type, content, send_result, send_time, create_time)
        VALUES (#{projectId}, #{nodeId}, #{type}, #{content}, #{sendResult}, #{sendTime}, #{createTime})
    </insert>
    <delete id="deleteAll">
        DELETE FROM alarm_record
    </delete>

    <delete id="deleteBefore">
        DELETE FROM alarm_record WHERE create_time &lt; #{cutoff}
    </delete>
</mapper>
