<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ops.server.mapper.GlobalScriptDistributeRecordMapper">
    <select id="findById" resultType="com.ops.common.model.GlobalScriptDistributeRecordModel">
        SELECT * FROM global_script_distribute_record WHERE id = #{id}
    </select>
    <select id="findAll" resultType="com.ops.common.model.GlobalScriptDistributeRecordModel">
        SELECT * FROM global_script_distribute_record ORDER BY create_time DESC
    </select>
    <select id="findByScriptFileId" resultType="com.ops.common.model.GlobalScriptDistributeRecordModel">
        SELECT * FROM global_script_distribute_record WHERE script_file_id = #{scriptFileId} ORDER BY create_time DESC
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO global_script_distribute_record (script_file_id, operator_id, target_node_ids, content_hash, set_executable, auto_backup, status, result_detail, create_time)
        VALUES (#{scriptFileId}, #{operatorId}, #{targetNodeIds}, #{contentHash}, #{setExecutable}, #{autoBackup}, #{status}, #{resultDetail}, #{createTime})
    </insert>
    <update id="updateStatus">
        UPDATE global_script_distribute_record
        SET status = #{status}, result_detail = #{resultDetail}
        WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM global_script_distribute_record WHERE id = #{id}
    </delete>
</mapper>
