<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ops.server.mapper.OperationLogMapper">
    <select id="findById" resultType="com.ops.common.model.OperationLogModel">
        SELECT * FROM operation_log WHERE id = #{id}
    </select>
    <select id="findByModule" resultType="com.ops.common.model.OperationLogModel">
        SELECT o.*, u.username FROM operation_log o
        LEFT JOIN sys_user u ON o.user_id = u.id
        <where>
            <if test="module != null and module != ''">
                AND o.module = #{module}
            </if>
            <if test="userId != null">
                AND o.user_id = #{userId}
            </if>
        </where>
        ORDER BY o.create_time DESC
        LIMIT #{pageSize} OFFSET (#{page} - 1) * #{pageSize}
    </select>
    <select id="countByModule" resultType="long">
        SELECT COUNT(*) FROM operation_log o
        <where>
            <if test="module != null and module != ''">
                AND o.module = #{module}
            </if>
            <if test="userId != null">
                AND o.user_id = #{userId}
            </if>
        </where>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operation_log (user_id, module, action, content, ip, create_time)
        VALUES (#{userId}, #{module}, #{action}, #{content}, #{ip}, #{createTime})
    </insert>
</mapper>
